
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.fa-solid.fa-xmark{
    display: none;
}
.fa-solid.fa-bars{
    display: none;
}



body {
    background-color: #080808;
    color: #ffffff;
    width: 100%;
    min-height: 100vh;
}


#header{
    width: 100%; 
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.logo{
    width: 150px;
    height: 50px; 
}


.container{
    max-width: 1200px; 
    width: 90%; 
    margin: auto; 
    padding: 20px 0; 
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}


nav ul{
   
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav ul li{
    display: inline-block;
    margin: 10px 15px; 
}

nav ul li a{
    color: white; 
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0px;
    height: 1px;
    background: #2974ba;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;
}
nav ul li a:hover::after{
    width: 100%;
}


.header_text{
    
    width: 100%;
}

.header_text span{
    color: #2974ba;
}

.header_text p{
    font-size: 18px;
    margin-top: 20px;
}

.header_text h1{
    font-size: 60px; 
    text-align: center;
    margin-top: 5%;
    color: #d2d0d0;
}


@media only screen and (max-width: 768px) {

    .logo{
    width: 120px;
    height: 40px; 
}
    
    .header_text p{
    font-size: 15px;
    }
    .header_text h1{
        font-size: 40px; 
        margin-top: 20%;
    }

    #header{
    width: 100%; 
    height: 40vh;
    background-size: cover;
    background-position: center;
}


    .fa-solid.fa-xmark{
        display: block;
        font-size: 20px;
        position: absolute;
        top: 25px;
        left: 10px;
        cursor: pointer;
    }
    .fa-solid.fa-bars{
        display: block;
        font-size: 25px;
        position: absolute;
        top: 25px;
        right: 10px;
        cursor: pointer;
    }

    nav ul{
        background-color: #204e79;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }

    nav ul li{
        display: block;
        padding: 20px;
        cursor: pointer;
    }


    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        text-align: center;
        margin-top: 10px;
    }

    nav ul li {
        margin: 8px 10px;
    }
}

/* --------------project--------------------/ */










#project {
    padding: 50px 5%;
    padding-top: 0px;
    color:rgba(255, 255, 255, 0.796);
    margin: 30px auto 0 auto;
    margin-bottom: 10% ; 
}


.project-heading {
    font-size: 50px;
    margin-bottom: 20px;
}


.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.project {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    opacity: 0.5;
}

.project:hover img {
    transform: scale(1.1);
}


.layer a{
    display: inline-block;
    padding: 6px 10px;
    background: #ffffffcc;
    color: #1a1a1a; 
    font-weight: 500; 
    text-decoration: none; 
    border-radius: 25px; 
    font-size: 12px; 
    backdrop-filter: blur(5px); 
    transition: 0.3s ease; 
    margin-right: 0;
    position: static; 
    transform: none;
    
}


.layer a:hover{ 
    background: #fff; 
    box-shadow: 0 10px 20px #ffffff99; 
    transform: scale(1.05); 
}


.project .layer {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(55, 100, 148, 0.9));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: 0.5s ease;
}


.project:hover .layer {
    bottom: 0;
}






#footer {
    background: #0e1220;
    color: #d9d9d9;
    padding: 60px 0 20px;
    font-family: sans-serif;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding: 0 5%;
}


.footer-section h3 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-section p {
    opacity: 0.8;
    line-height: 1.7;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section{
    font-size: 14px;
    font-weight: 300;
}

.footer-section ul li a {
    color: #d9d9d9;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #ffffff;
    transform: translateX(5px);
}


.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    font-size: 25px;
    color: #ccc;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: #fff;
    transform: translateY(-5px) scale(1.1);
}



.footer-bottom {
    margin-top: 40px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    opacity: 0.6;
    border-top: 1px solid #2d3444;
}

html{
    scroll-behavior: smooth;
}










