
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
}


.fa-solid.fa-xmark{
    display: none;
}
.fa-solid.fa-bars{
    display: none;
}



body {
    background-color: #080808;
    color: #ffffff;
    width: 100%;
    min-height: 100vh;
}


#header{
    width: 100%; 
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo{
    width: 150px;
    height: 50px; 
}


.container{
    max-width: 1200px; 
    width: 90%; 
    margin: auto; 
    padding: 20px 0; 
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}


nav ul{
   
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav ul li{
    display: inline-block;
    margin: 10px 15px; 
}

nav ul li a{
    color: white; 
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0px;
    height: 1px;
    background: #2974ba;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;
}
nav ul li a:hover::after{
    width: 100%;
}


.header_text{
    margin-top: 30%; 
    width: 100%;
}

.header_text span{
    color: #2974ba;
}

.header_text p{
    font-size: 18px;
    margin-top: 20px;
}
.header_text h1{
    font-size: 60px; 
    margin-top: 10%;
}


@media only screen and (max-width: 768px) {

    .logo{
    height: 9vw;
    width: 25vw;
    top: 10px;
    left: 22px;
    position: absolute;   
}



.header_text{
    margin-top: 40%; 
    width: 100%;
}


    .about-skills{
    display: flex;
    margin: 40px 0 40px;
}
    
    .header_text p{
    font-size: 15px;
    }

    .header_text h1{
        font-size: 45px; 
        margin-top: 10%;
    }



    #header{
    width: 100%; 
    height: 70vh;
    background-size: cover;
    background-position: center;
}


    .fa-solid.fa-xmark{
        display: block;
        font-size: 20px;
        position: absolute;
        top: 25px;
        right: 10px;
        cursor: pointer;
    }
    .fa-solid.fa-bars{
        display: block;
        font-size: 25px;
        position: absolute;
        top: 25px;
        right: 10px;
        cursor: pointer;
    }

    nav ul{
        background-color: #204e79;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }

    nav ul li{
        display: block;
        padding: 20px;
        cursor: pointer;
    }


    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        text-align: center;
        margin-top: 10px;
    }

    nav ul li {
        margin: 8px 10px;
    }
}


/* -------------------about--------------------- */

#about{
    padding: 80px 0px;
    color: #ababab;
}

.container2{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.col-1{
    flex-basis: 35%; 
    margin: 0;
    text-align: center;
}

.col-1 img{
    max-width: 100%; 
    height: auto;
    border-radius: 20px;
}

.col-2{
    flex-basis: 60%; 
    margin-right: 0;
}

.col-2 h1{
    font-size: 48px; 
}

.about-skills{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 40px;
}

.links{
    margin-right: 30px; 
    font-size: 18px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.links::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #2974ba;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

.links:hover::after{
    width: 60%;
    cursor: pointer;
}

.links.active-link::after{
    width: 60%;
}


.contents ul li{
    margin: 15px 0px;
    list-style: none; 
}

.contents ul li span{
    color: #2974ba;
}

.contents{
    display: none ;
}

.contents.active-tab{
    display: block;

}

#Project a{
    text-decoration: none;
    color: #ababab;
}

#Project a:hover{
    text-decoration: underline;
    transition: 0.5s;
}

.active-link {
    color: #2974ba; 
}


@media only screen and (max-width: 800px) {
    .contents ul li{
        font-size: 13px;
    }

    .row {
        flex-direction: column;
    }
    .col-1, .col-2 {
        flex-basis: 100%; 
        margin-bottom: 30px;
    }
    .col-2 {
        padding: 0 5%;
    }
    .col-2 h1 {
        font-size: 33px;
        text-align: center;
        margin: 5%;
    }

    .col-1 img{
    max-width: 80%; 
    height: auto;
    border-radius: 20px;
    margin-bottom: 10vw;
    }

    .paragraph p{
        font-size: 13px;
    }

    #about{
        padding: 50px 0px;
    }

}


/* skills */

.skills{
    padding: 30px 5%;
    color: #ababab;
    margin: 0 auto;
}

.skill-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 20px;
}

.skill-list div h2{
    margin-bottom: 15px;
    font-size: 30px;
}

.skill-heading h1{
    font-size: 48px;
    margin-bottom: 20px;
}


.s1 p{
    margin-bottom: 10px;
}


.fa-solid{
    font-size: 40px;
    margin-bottom: 30px;
}

.skill-list.list2{  
padding: 20px 5%; 
color: #ababab;
}


.skill-list div{
    background-color: #262626;
    border-radius: 13px;
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    transition: 0.2s;
} 

.skill-list div:hover{
    background-color: #204e79;
    transform: translateY(-10px);
}


 


.s1 {
    background: #2b2b2b;
    margin: 0px 15px;
    padding: 25px;
    border-radius: 15px;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.3s ease;
}

.s1:hover {
    transform: translateY(-6px);
}

.s1 i {
    font-size: 35px;
    margin-bottom: 10px;
}

.s1 h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.s1 ul {
    margin-left: 15px;
}


@media only screen and (max-width: 800px){
    .about-skills p{
        font-size: 4vw;
        margin-right: 4%;
        ;
    }

    .skill-heading h1{
        font-size: 35px;
        text-align: center;
    }

    .s1 h2{
        font-size: 25px; 
    }


    .skills {
        padding: 20px 3%;
    }

    
    .skill-heading h1 {
        font-size: 32px;
        text-align: center;
    }

    
    .skill-list {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    
    .skill-list div,
    .s1 {
        padding: 20px;
        margin: 10px 0;
        border-radius: 12px;
        font-size: 14px;
    }

    
    .skill-list div h2,
    .s1 h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

   
    .fa-solid,
    .s1 i {
        font-size: 28px;
        margin-bottom: 15px;
    }

   
    .s1 ul {
        margin-left: 10px;
    }

    
    .s1 p {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .skill-list{
        margin-top: 0px;
       
    }

}




/* --------------------goals---------------------------- */


#goals{
   
    padding: 50px 5%;
    color: #ababab;
    margin: 60px auto 0 auto;
    min-height: auto; 

}

.goal-heading h1{
    font-size: 60px;
    padding-left: 15px;
}

.goal-list {
    display: grid;   
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 20px;
    margin-top: 40px;
}

.p1{
    width: 100%; 
    height: auto; 
    background-color: #0a0a0a;
    border-radius: 20px;
    aspect-ratio: 4/3; 
}

.p1 img{
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    display: block; 
    padding: 5% 10%;
    border-radius: 50px;
}

.layer1{
    text-align: center;
    margin-top: 20px;
}

.layer1 a{
    color:white;
    text-decoration: none;
    cursor: pointer;
    margin-top: 15px;
}

.layer1 a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 800px){

   .goal-heading h1{
        font-size: 32px;
        text-align: center;
        padding-left: 0;
    }

    #goals{
        margin-top: 20px;
        margin-bottom: 40px; 
    }

    .goal-list{
        gap: 25px;
        margin-bottom: 20px;
    }

    .layer1 p{
        font-size: 13px;
    }
}






                                                        /* --------------------project-------------------- */


#project {
    padding: 50px 5%;
    padding-top: 0px;
    color: rgba(255, 255, 255, 0.796);
    margin: 30px auto 0 auto; 
}


.project-heading {
    font-size: 50px;
    margin-bottom: 20px;
}


.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.project{
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    opacity: 0.5;
}
.project.coming{
    opacity: 0.5;
}

.project:hover img {
    transform: scale(1.1);
}


.layer a{
    display: inline-block;
    padding: 6px 10px;
    background: #ffffffcc;
    color: #1a1a1a; 
    font-weight: 500; 
    text-decoration: none; 
    border-radius: 25px; 
    font-size: 12px; 
    backdrop-filter: blur(5px); 
    transition: 0.3s ease; 
    margin-right: 0;
    position: static; 
    transform: none;
    
}


.layer a:hover{ 
    background: #fff; 
    box-shadow: 0 10px 20px #ffffff99; 
    transform: scale(1.05); 
}


.project .layer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(55, 100, 148, 0.9));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.project:hover .layer{
    transform: translateY(0);
}


.project:hover .layer {
    bottom: 0;
}

@media only screen and (max-width: 800px){

    .project-heading{
        font-size: 32px;
        text-align: center;
    }
    .goal-list p{
        font-size: 15px;
    }
    
    .layer1 h3{
        margin-bottom: 10px;
    }
    .layer1 p{
        margin-bottom: 25px;
        font-size: 13px;
    }

    .layer p{
        font-size: 12px;
    }
    .layer h3{
        font-size: 15px;
    }

    .layer a{
        font-size: 8px;
        text-align: center;
        
    }
    .layer a i{
        font-size: 10px;
        text-align: center;

    }
}



                                        /* -----------------------feedback-------------------------- */


#feedback{ 
    color: #ababab;
    margin: 100px auto; 
    padding: 40px 5%; 
    background: linear-gradient(rgba(0,0,0,0.7),rgb(21, 57, 104,0.5));
    min-height: 90vh; 
    border-radius: 15px;
    margin-bottom: 0 ;
    padding-bottom: 20px 
}

#feedback h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}


.feedback-type h2{
    margin: 15px 0;
}

.radio-item{
    margin: 20px 0;
}
.feed{
    margin-bottom: 40px;
}

.lbl{
    display: block;
    padding: 10px 0;
    font-size: 20px;
}

label{
    cursor: pointer;
}

.input{
    height: 40px;
    width: 100%; 
    max-width: 400px; 
    border-radius: 7px;
    background: linear-gradient(rgb(24, 27, 27),#3b5c7a);
    color: #ccc;
    margin-left: 0;
    font-size: 16px;  
    padding: 10px;
    display: block;
    margin-bottom: 15px;
}

.input.email-lvl{
    margin-left: 0;
}

.input.message-lvl{
    height: 150px;
    resize: vertical;
}

label.message{
    display: block; 
}

textarea {
    width: 100%;
    max-width: 400px;
    height: 150px; 
    padding: 10px;        
    font-size: 16px;
    border-radius: 10px;
    background: linear-gradient(rgb(24, 27, 27),#3b5c7a);
    color: #ccc;
    resize: vertical;
}

textarea.input.message-lvl{
    margin-left: 0;
}


.submit-container {
    left: 50px;
    text-align: left;
    margin-bottom: 50px;
    display: flex;

}

.input-submit {
    padding: 10px 25px;
    background: #ffffff;
    color: #000;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}

.input-submit:hover {
    transform: scale(1.05);
    background: #e0e0e0;
}


@media only screen and (max-width: 800px){
    #feedback h1{
        font-size: 32px;
    }

    .lbl{
    padding: 10px 0;
    font-size: 15px;
}

}


@media only screen and (min-width: 600px) {

    
    .feed {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .feed .input {
        flex-grow: 1;
        max-width: none;
    }
    
    .input-submit {
        float: right;
    }
   .feedback-type h2{
    font-size: 18px;
   }


    #footer{
        height: 80vh;
    }
}



#footer {
    background: #0e1220;
    color: #d9d9d9;
    padding: 60px 0 20px;
    font-family: sans-serif;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding: 0 5%;
}


.footer-section h3 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-section p {
    opacity: 0.8;
    line-height: 1.7;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section{
    font-size: 14px;
    font-weight: 300;
}

.footer-section ul li a {
    color: #d9d9d9;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #ffffff;
    transform: translateX(5px);
}


.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    font-size: 25px;
    color: #ccc;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: #fff;
    transform: translateY(-5px) scale(1.1);
}



.footer-bottom {
    margin-top: 40px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    opacity: 0.6;
    border-top: 1px solid #2d3444;
}

html{
    
    scroll-behavior: smooth;
}


.cv{
    text-decoration: none;
    color: #ccc;
}
.cv:hover{
    text-decoration: underline;
    
}

.email2{
    cursor: pointer;
    text-decoration: none;
    color: #ccc;
}

.email2:hover{
    text-decoration: underline;
    
}







