
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.fa-solid.fa-xmark{
    display: none;
}
.fa-solid.fa-bars{
    display: none;
}



body {
    background-color: #080808;
    color: #ffffff;
    width: 100%;
    min-height: 100vh;
}


#header{
    width: 100%; 
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.logo{
    width: 150px;
    height: 50px; 
}


.container{
    max-width: 1200px; 
    width: 90%; 
    margin: auto; 
    padding: 20px 0; 
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}


nav ul{
   
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav ul li{
    display: inline-block;
    margin: 10px 15px; 
}

nav ul li a{
    color: white; 
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0px;
    height: 1px;
    background: #2974ba;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;
}
nav ul li a:hover::after{
    width: 100%;
}


.header_text{
    
    width: 100%;
}

.header_text span{
    color: #2974ba;
}

.header_text p{
    font-size: 18px;
    margin-top: 20px;
}

.header_text h1{
    font-size: 60px; 
    text-align: center;
    margin-top: 5%;
    color: #d2d0d0;
}


@media only screen and (max-width: 768px) {

    .logo{
    width: 120px;
    height: 40px; 
}
    
    .header_text p{
    font-size: 15px;
    }
    .header_text h1{
        font-size: 40px; 
        margin-top: 20%;
    }

    #header{
    width: 100%; 
    height: 40vh;
    background-size: cover;
    background-position: center;
}


    .fa-solid.fa-xmark{
        display: block;
        font-size: 20px;
        position: absolute;
        top: 25px;
        left: 10px;
        cursor: pointer;
    }
    .fa-solid.fa-bars{
        display: block;
        font-size: 25px;
        position: absolute;
        top: 25px;
        right: 10px;
        cursor: pointer;
    }

    nav ul{
        background-color: #204e79;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }

    nav ul li{
        display: block;
        padding: 20px;
        cursor: pointer;
    }


    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        text-align: center;
        margin-top: 10px;
    }

    nav ul li {
        margin: 8px 10px;
    }
}


body {
    background-color: #080808; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

form {
    width: 100%;
    max-width: 950px;
}

.input-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px;
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 14px;
    color: #b8b8b8; 
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"] {
    padding: 10px;
    background-color: #242424; 
    border: 1px solid #444;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}


button.btn-predict {
    display: block;
    margin: 40px auto 20px auto; 
    padding: 12px 40px;
    border: none;
    background-color: #2e6fdd; 
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 600;
    margin-bottom: 40px;
}

button.btn-predict:hover {
    background-color: #1a5ac9; 
}

.notes {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
    text-align: center;
}







#footer {
    background: #0e1220;
    color: #d9d9d9;
    padding: 60px 0 20px;
    font-family: sans-serif;
    width: 100%;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding: 0 5%;
}


.footer-section h3 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-section p {
    opacity: 0.8;
    line-height: 1.7;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section{
    font-size: 14px;
    font-weight: 300;
}

.footer-section ul li a {
    color: #d9d9d9;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #ffffff;
    transform: translateX(5px);
}


.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    font-size: 25px;
    color: #ccc;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: #fff;
    transform: translateY(-5px) scale(1.1);
}



.footer-bottom {
    margin-top: 40px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    opacity: 0.6;
    border-top: 1px solid #2d3444;
}

html{
    scroll-behavior: smooth;
}